################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApresentacaoFramework/.vs
/ApresentacaoFramework/Dominio/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Dominio/obj
/ApresentacaoFramework/Mapeamento/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Mapeamento/obj
/ApresentacaoFramework/Repositorio/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Repositorio/obj
/ApresentacaoFramework/Servico/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Servico/obj
/ApresentacaoFramework/Apresentacao/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Apresentacao/obj
/ApresentacaoFramework/Apresentacao/bin
/ApresentacaoFramework/Apresentacao/Properties/PublishProfiles
/ApresentacaoFramework/Dominio/bin
/ApresentacaoFramework/Mapeamento/bin
/ApresentacaoFramework/Repositorio/bin
/ApresentacaoFramework/Servico/bin
/ApresentacaoFramework/Apresentacao/schemaupdate.1.0.0.0.sql
/ApresentacaoFramework/Apresentacao/schemaupdate.2.1.1.0.sql
