################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApresentacaoFramework/.vs
/ApresentacaoFramework/Dominio/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Dominio/obj
/ApresentacaoFramework/Mapeamento/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Mapeamento/obj
/ApresentacaoFramework/Repositorio/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Repositorio/obj
/ApresentacaoFramework/Servico/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Servico/obj
/ApresentacaoFramework/Apresentacao/bin/Debug/netcoreapp2.0
/ApresentacaoFramework/Apresentacao/obj
/ApresentacaoFramework/Apresentacao/bin
/ApresentacaoFramework/Apresentacao/Properties/PublishProfiles
/ApresentacaoFramework/Dominio/bin
/ApresentacaoFramework/Mapeamento/bin
/ApresentacaoFramework/Repositorio/bin
/ApresentacaoFramework/Servico/bin
/ApresentacaoFramework/Apresentacao/schemaupdate.1.0.0.0.sql
/ApresentacaoFramework/Apresentacao/schemaupdate.2.1.1.0.sql
/Framework/.vs/Framework
/Framework/Framework.Aplicacao.Servico/bin/Release/netcoreapp2.1
/Framework/Framework.Aplicacao.Servico/obj
/Framework/Framework.Apresentacao.Mvc/bin/Release/netcoreapp2.1
/Framework/Framework.Data.Nhibernate/bin/Release/netcoreapp2.1
/Framework/Framework.Data.Nhibernate.Tests/bin
/Framework/Framework.Data.Nhibernate.Tests/obj
/Framework/Framework.Data.Repositorio/bin/Release/netcoreapp2.1
/Framework/Framework.Dominio.Base/bin/Release/netcoreapp2.1
/Framework/Framework.Dominio.Base/obj
/Framework/Framework.Helper/bin/Release/netcoreapp2.1
/Framework/Framework.Helper/obj
/Framework/Framework.Helper.Tests/bin
/Framework/Framework.Helper.Tests/obj
/Framework/Framework.Validator/bin/Release/netcoreapp2.1
/Framework/Framework.Validator/obj
